[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p -p 22 -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa_a91c81e5ade3cd813d890aa6009d9b508e902b24 ec2-user@3.113.25.250"

[defaults]
host_key_checking = False